OPENROUTER_API_KEY=YOUR_KEY
ALLOWED_ORIGINS=URL1,URL2
BASIC_USERS=USERNAME1:PASSWORD1,USERNAME2:PASSWORD2
DATABASE_URL=LOCAL_POSTGERS_URL
MAX_HISTORY=10
POSTGRES_DB=DB_NAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
DATABASE_URL_DOCKER=DOCKER_POSTGERS_URL
SESSION_COOKIES_SECURE=False
SESSION_COOKIES_SAMESITE=
STREAMING_ENABLED=true
REDIS_URL=
REASONING_QUEUE_NAME=
REASONING_MODEL=