services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data    
  api:
    build: .
    container_name: chatbot_api
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL_DOCKER} 
    depends_on:
      - db
    ports:
      - "8002:8001"
    restart: unless-stopped
    develop:
      watch:
        - path: ./app
          action: sync
          target: /app/app
        - path: ./pyproject.toml
          action: rebuild
        - path: ./uv.lock
          action: rebuild 

volumes:
  pgdata: